* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
}

p {
    font-weight: 400;
}

h1 {
    text-wrap: nowrap;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    padding: 10px 0;
}

nav {
    display: flex;
    flex-direction: row;
}

nav > p {
    margin: 0 15px;
}

nav > p > a {
    text-decoration: none;
    white-space: nowrap;
    overflow: visible;
    color: black;
}

.main {
    display: flex;
    flex-direction: column;
    width: 75%;
}

.about-me {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    justify-content: space-between;
    margin: 30px auto;
}

.about-me-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: auto;
    margin-right: 5%;
    line-height: 20px;
}

.about-me-text > p{
    margin-top: 10px;
    text-decoration: none;
}

.project-content {
    display: flex;
    flex-flow: row;
    justify-content:space-between;
}

.project-links {
    width: fit-content;
    list-style-type: none;
}

.project-links > li {
    display: block;
    list-style-type: none;
    width: 100%;
    margin: 20px auto;
}

.projects {
    display: flex;
    flex-flow: column;
}

img{
    height: 50%;
    width: 30%;
    border-radius: 10px;
    align-self: center;
}

.skills-icons {
    display: flex;
    flex-flow: row wrap;
    height: 100px;
    margin: 10px 0;
    justify-content: space-between;
}

.social-icons {
    display: flex;
    flex-flow: row wrap;
    height: 100px;
    margin: 10px 0;
    
}

.social-icons > [href] {
    color: black;
}

.project-links > li >[href] {
    color:cornflowerblue;
}

.project-links > li > [href]:hover {
    text-decoration: none;
    color: rgb(0, 110, 64);
}

.skill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fa-brands {
    width: fit-content;
}
#linkedin {
    margin-right: 20px;
}

.social-contact-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.contact-methods > p {
    padding: 10px 0;
    
}

@media screen and (max-width: 920px) {
    img {
       height: 50%;
       margin-top: 20px;
    }
    .about-me {
        flex-direction: column;
        align-items: center;
    }

    .project-content, header, .social-contact-container {
        display: flex;
        flex-flow: column;
        justify-content:space-between;
        align-items: center;
    }

    #top-link-2 {
        margin-top:0;
    }

    .social-icons {
        justify-content: center;
        align-items: center;
    }

    header {
        position: fixed;
        top: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.918)
    }

    /* #about-nav {
        visibility: hidden;
        display: none;
    } */

    h2, p, .project-links > li {
        text-align: center;
    }

    .main {
        margin-top: 5rem;
    }

    h1, nav > p > a {
        color: rgb(255, 255, 255);
    }
}

@media screen and (orientation: portrait) {
    img {
       height: 50%;
       margin-top: 20px;
    }
    .about-me {
        flex-direction: column;
        align-items: center;
    }
}